@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital@0;1&display=swap');

html, body {
  height: 100%;
}

body {
  background: #E02020;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s;
  font-family: 'Playfair'
}

.content {
  color: white;
  width: 80 %;
  margin: 0px auto 0px auto;
  padding: 20px 70px;
  position: relative;
  font-smooth: auto;
}

.content h2 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  font-family: 'Anton'
}

.content h2:hover a {
  opacity: 1;
  letter-spacing: 2px;
}

.content a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: opacity 0.3s, letter-spacing 0.3s;
}

.content p {
  font-size: 18px;
}

#sections {
  height: 100%;
}

.section {
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  margin: 0;
  display: flex;
  flex-align: center;
}
